header {
  text-align: center;
  font-size: 70px;
  color: orangered;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(228, 195, 228);
}

#left > div {
  border: 3px groove orangered;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

/* #left div:first-child {
  color: red;
} */

#right {
  text-align: center;
}
